<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated studyPlan -->
      <package
            uri="ecore"
            class="ecore.EcorePackage"
            genModel="src/studyPlan.genmodel"/>
   </extension>

</plugin>
